//Variables
$primary-color: #77df73;
$primary-color-hover: #6365d2;
$background-color: #ffffff;
$gray-1: #f7f7f7;
$gray-2: #dfdfdf;
$gray-3: #a0a0a0;
$gray-4: #7c7c7c;
$text-color: #444444;
$main-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headline-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');

/*Modify Chart Colors Hack*/
.chart, .easypiechart {
	filter: hue-rotate(0deg) saturate(100%);
}

/*Theme Switcher*/

.theme-switcher {
	list-style: none;
	text-align: center;
	margin: 1rem auto 3rem auto;
	display: block;
	width: 280px;
	display: block;
	li {
		float: left;
		text-transform: uppercase;
		color: $background-color;
		span {
			margin-right: 10px;
		}
		a.theme-btn {
			color: $background-color;
			background: none;
			display: inline-block;
			width: 30px;
			height: 30px;
			padding: 0;
			margin: 0 6px;
			text-indent: -499rem;
			border-radius: 499rem;
			opacity: .8;
		}
		
		a.theme-btn:hover {
			opacity: 1;
		}
		
		a.theme-btn-default {
			background: #7376df!important;
		}
		
		a.theme-btn-teal {
			background: #3dbb9c!important;
		}
		
		a.theme-btn-ruby {
			background: #f54b63!important;
		}
		
		a.theme-btn-nightfall {
			background: #32343c!important;
		}
		a.theme-btn-organic {
			background: #918278!important;
		}
	}
}

@media (max-width: 768px) {
	.theme-switcher {
		display: none;
	}
}

// General Styles
 
body {
	background-color: $background-color;
	font-family: $main-font;
	font-size: 1rem;
	color: $text-color;
}

h1, h2 {
	font-family: $headline-font;
	padding-bottom: 1.2rem;
	border-bottom: 1px solid $gray-2;
}

h3, h4, h5, h6 {
	font-family: $headline-font;
}

a, a:visited {
	color: $primary-color;
}

a:hover, a:focus, a:active {
	color: $primary-color-hover;
	text-decoration: none;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
	background-color: $primary-color;
}

h1 {
	font-family: $headline-font;
	font-size: 2.4rem;
	font-weight: 600;
}

h2 {
	font-family: $headline-font;
	font-size: 2.4rem;
	font-weight: 500;
}

h3 {
	font-family: $headline-font;
	font-size: 1.8rem;
	font-weight: 500;
}

h4 {
	font-family: $headline-font;
	font-size: 1.4rem;
	font-weight: 500;
}

h5 {
	font-family: $headline-font;
	font-size: 1rem;
	letter-spacing: .1rem;
	font-weight: 600;
	text-transform: uppercase;
}

h6 {
	font-family: $headline-font;
	font-size: .8rem;
	letter-spacing: .1rem;
	font-weight: 500;
	text-transform: uppercase;
}

p {
	color: $gray-4;
	font-size: 1rem;
}

.text-white p {
	color: $background-color;
}

.card-inverse p {
	color: $background-color;
	font-size: .9rem;
}

.card h1 {
	border: none;
	margin: 0;
	padding-bottom: .5rem;
}

.no-border {
	border: none;
}

.no-padding {
	padding: 0;
}

.clear {
	clear: both;
}

.justify-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-muted {
	color: $gray-3!important;
}

code {
	background-color: $gray-1;
}

.divider {
	display: block;
	width: 100%;
	height: 1px;
	background-color: $gray-2;
	margin: 2rem auto;
}

.circle {
	border-radius: 499rem;
}

.jumbotron {
	padding: 2rem 2rem;
	background-color: $gray-1;
}

// Override Primary Color

.btn-primary, .btn-primary.disabled, .btn-primary:disabled, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary.active, .show > .btn-outline-primary.dropdown-toggle, .card-primary, .page-item.active .page-link, .list-group-item.active {
	background-color: $primary-color!important;
	border-color: $primary-color!important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
	background-color: $primary-color-hover!important;
	border-color: $primary-color-hover!important;
}

.btn-outline-primary {
	color: $primary-color!important;
	border-color: $primary-color!important;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled, .btn-link, .page-link, .text-primary {
	color: $primary-color!important;
}

.btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
	color: $primary-color-hover!important;
}

.dropdown-item.active, .dropdown-item:active, .custom-control-input:checked ~ .custom-control-indicator, .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-indicator, .nav-pills .nav-item.show .nav-link, .badge-primary, .progress-bar, .bg-primary {
	background-color: $primary-color!important;
	background-image: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
	background-color: $primary-color!important;
	border-radius: 4px;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
	background-color: $primary-color!important;
	border-radius: 499px;
}

.nav-pills .nav-link.active, .badge-primary[href]:focus, .badge-primary[href]:hover, a.bg-primary:focus, a.bg-primary:hover {
	background-color: $primary-color-hover!important;
}

.form-control:focus {
	border-color: $primary-color!important;
}


// Primary Button

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	color: $background-color!important;
	background-color: $primary-color;
	border-color: $primary-color;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: $primary-color-hover;
	border-color: $primary-color-hover;
}

.btn-outline-primary, .btn-outline-primary:visited {
	color: $primary-color;
	border-color: $primary-color;
	background: none;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
	background-color: $primary-color;
	border-color: $primary-color;
	color: $background-color;
}

// Secomdary Button

.btn-secondary, .btn-default {
	background-color: $background-color;
	color: $text-color;
	border-color: $gray-2;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-default:hover, .btn-default:focus, .btn-default:active {
	color: $text-color!important;
	background-color: $gray-1!important;
	border-color: $gray-2!important;
}


// Custom Button Styles

.btn-margins button.btn {
	margin: 0 4px 6px 0!important;
}

.btn {
	border-radius: 499rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-size: .75rem;
	padding: .6rem 1.15rem;
	cursor: pointer;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.btn-xs {
	font-size: .6rem;
	padding: .5rem 1rem;
}

.btn-sm {
	font-size: .65rem;
	padding: .5rem 1rem;
}

.btn-md {
	font-size: .75rem;
	padding: .6rem 1.15rem;
}

.btn-lg {
	font-size: .8rem;
	padding: .9rem 1.5rem;
}

.btn-circle {
	width: 2.8rem;
	height: 2.8rem;
	font-size: 1rem;
	padding: 0;
	border-radius: 50%;
}

.btn-subtle {
	border: none;
	background: $gray-1;
	color: $primary-color;
	-webkit-appearance: none;
	cursor: pointer;
}

.btn-subtle:hover, .btn-subtle:focus, .btn-subtle:active {
	color: $background-color;
	background-color: $primary-color;
	outline: none;
}

.btn-stripped {
	border: none;
	background: none!important;
	color: $text-color!important;
	-webkit-appearance: none;
	cursor: pointer;
}

.btn-stripped:hover, .btn-stripped:focus, .btn-stripped:active {
	color: $primary-color;
	background-color: none;
	outline: none;
}

.dropdown a {
	color: $text-color;
}

.dropdown a:hover, .dropdown a:active, .dropdown a:focus {
	background-color: $primary-color;
	color: $background-color;
}

.dropdown-menu {
	background: $background-color;
	border: 1px solid $gray-2;
	width: 14rem;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, .15);
}

.dropdown-menu .divider {
	margin: .5rem 0;
}

.dropdown-menu li a {
	padding: .35rem 1rem;
}

.dropdown-menu li a {
	color: $text-color;
	display: inline-block;
	width: 100%;
}

.dropdown-menu li a:hover {
	background: $primary-color;
	color: $background-color;
	text-decoration: none;
}

// Sidebar

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
	padding-left: 0;
	padding-right: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background: $primary-color;
	a {
		color: $background-color;
		text-transform: uppercase;
		font-size: .7rem;
		letter-spacing: .2rem;
		padding: .75rem 1rem;
	}
	
	em {
		font-size: 1rem;
	}
	
	h1 {
		color: $background-color;
		border: none;
		font-size: 0.9rem;
		padding: 0rem 1rem;
		text-transform: uppercase;
		letter-spacing: .2rem;
	}
	
	.site-title {
		margin-top: .5rem;
		margin-bottom: 1.75rem;
		a {
			font-size: .9rem;
			padding-left: 0;
			padding-right: 0;
			cursor: pointer;
		}
		
		a:hover {
			background: none!important;
		}
	}
	
	.nav {
		margin-bottom: 20px;
	}
	
	.nav-item {
		width: 100%;
	}
	
	.nav-item + .nav-item {
		margin-left: 0;
	}
	
	.nav-link {
		border-radius: 0;
	}
	
	.logout-button {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 85%;
		text-align: center;
		border-radius: .3rem;
	}
}

.sidebar .nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	li a {
		padding: .5rem 1rem;
		background: rgba(0, 0, 0, .5);
		color: $background-color;
	}
	li a:visited {
		background: rgba(0, 0, 0, .5)!important;
		color: $background-color!important;
	}
	li a:hover {
		background: $primary-color-hover!important;
		color: $background-color!important;
	}
}

#wrapper.toggled .sidebar-nav {
	display: none;
}

#menu-toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.sidebar a:focus, .sidebar a:hover, .sidebar a:active {
	background-color: $primary-color-hover!important;
}

@media screen and (max-width: 576px) {
	#wrapper .sidebar-nav {
		display: none;
	}
	
	#wrapper.toggled .sidebar-nav {
		display: block!important;
	}
	
	.sidebar {
		position: inherit;
		padding-bottom: 0px;
		margin-bottom: 1rem;
	}
	
	#menu-toggle {
		background-color: $primary-color-hover;
	}
}
	@media screen and (min-width: 576px) {
	#wrapper.toggled .sidebar-nav {
		display: block;
	}
	
	#menu-toggle {
		display: none;
	}
}

// Cards

.card {
	background-color: $background-color;
	border: 1px solid $gray-2;
}

.card.bg-primary, .card.bg-success, .card.bg-info, .card.bg-warning, .card.bg-danger {
	border: 1px solid rgba(0, 0, 0, .125);
}

.card-block {
	padding: 1rem;
}

.card-title {
	padding-bottom: .25rem;
	margin-bottom: 1rem;
}

.card-subtitle {
	margin-top: -.75rem;
	padding-bottom: .5rem;
}

.card-title-btn-container {
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	list-style: none;
}

.card-footer {
	background: $gray-1;
	border-top: 1px solid $gray-2;
	margin: -1rem!important;
	margin-top: 1rem!important;
}

.card-header {
	padding: .75rem 1.25rem;
}

.bg-default .card-header {
	background: $gray-1;
	border-bottom: 1px solid $gray-2;
}

.card-header-tabs .nav-link:hover,
.card-header-pills .nav-link:hover {
	background-color: $background-color;
	border-color: $gray-2;
}

.card-header-tabs .nav-link:hover {
	border-bottom: 1px solid $background-color;
}

.card-header-tabs .active {
	background: $background-color!important;
	border-color: $gray-2!important;
	border-bottom-color: $background-color!important;
	color: $text-color!important;
}

.alert {
	color: $background-color;
	a {
		color: $background-color!important;
	}
}

.no-left-margin {
	margin-left: 0;
}

// Main Content

.page-header {
	font-family: $headline-font;
	margin-top: 0rem;
	margin-bottom: 2.4rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid $gray-2;
	height: auto;
 	h1 {
		display: inline;
		border: none;
		padding: 0;
	
	}
}

.profile-photo {
	border-radius: 499rem;
	float: left;
}

.username {
	float: left;
	text-align: left;
	margin: 0 0 0 1rem;
 	h1, h2, h3, h4 {
		margin-bottom: 0;
		text-transform: none!important;
		letter-spacing: 0!important;
	}
}

.user-dropdown .dropdown-toggle::after {
	margin-top: 1rem;
	margin-left: 1rem;
}

.user-progress {
	margin-top: 1rem;
	.profile-photo {
		max-height: 75px;
		max-width: 75px!important;
	}
}

.progress-custom {
	margin-top: .25rem;
	background-color: $gray-1;
	padding: 0;
	height: 6px;
}

.progress-label {
	text-align: center!important;
	color: $primary-color;
	font-size: .75rem;
	margin-top: -.25rem;
}

.progress-bar {
	height: 6px;
}


// Calendar Widget

#calendar, .datepicker-inline {
	width: 100%;
	text-align: center;
}

#calendar table {
	width: 100%;
}

.datepicker-switch {
	font-size: 16px;
	height: 46px!important;
}

.datepicker table tr td.old, .datepicker table tr td.new {
	color: $gray-2;
}

.datepicker table tr td {
	padding: 2px 2px!important;
	cursor: pointer;
	border-radius: .3rem;
}

#calendar th {
	text-align: center!important;
	cursor: pointer;
	border-radius: .3rem;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: $background-color;
	background-color: $primary-color;
	text-shadow: none;
	border-color: #285e8e;
}

.datepicker table tr td span:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
	background-color: $gray-1;
}

.panel-heading .glyphicon {
	margin-right: 10px;
}


// Timeline Widget

.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 2px;
	background-color: $gray-2;
	left: 25px;
	margin-right: -1.5px;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: calc( 100% - 65px );
	float: right;
	border: 1px solid $gray-2;
	border-radius: .3rem;
	padding: 10px 20px;
	position: relative;
	box-shadow: none;
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	left: -11px;
	display: inline-block;
	border-top: 11px solid transparent;
	border-right: 11px solid $gray-2;
	border-left: 0 solid $gray-2;
	border-bottom: 11px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	left: -10px;
	display: inline-block;
	border-top: 10px solid transparent;
	border-right: 10px solid $background-color;
	border-left: 0 solid $background-color;
	border-bottom: 10px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: $text-color;
	width: 46px;
	height: 46px;
	line-height: 2.8rem;
	font-size: 1.4rem;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 0px;
	margin-right: -25px;
	margin-left: 3px;
	border: 1px solid $gray-2;
	background-color: $background-color;
	z-index: 100;
	border-radius: 499rem;
}

.timeline-badge.primary {
	background-color: $primary-color !important;
	color: $background-color!important;
	border: none!important;
}

.timeline-badge.success {
	background-color: #8ad919 !important;
}

.timeline-badge.warning {
	background-color: #ffb53e !important;
}

.timeline-badge.danger {
	background-color: #f9243f !important;
}

.timeline-badge.info {
	background-color: #30a5ff !important;
}

// Latest News Widget

.article {
	padding: 1rem 0;
	border-bottom: 1px solid $gray-2;
	margin-bottom: 1rem;
}

.article:first-child {
	padding: 0 0 10px 0;
}

.article:last-child {
	padding: 0 0 10px 0;
	border: none;
	margin-bottom: 0;
}

.article h4 a {
	margin-bottom: 10px;
}

.article .date {
	text-align: center;
	font-size: 1.8rem;
	margin: 0 auto;
	display: block;
}

.article .date .text-muted {
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
}


// Todo List Widget

.todo-list-item {
	list-style: none;
	padding: 0.5rem 1rem .15rem 1.25rem;
	border-radius: .3rem;
	.fa {
		margin: 0 .25rem 0 0;
		color: $text-color;
	}
	
	.fa:hover {
		color: $primary-color;
	}
	
	input[type=checkbox] {
		margin: 0 .5rem 0 0!important;
		border: 1px solid $text-color;
	}
}

.todo-list {
	padding: 0;
	margin: -15px;
	background: $background-color;
	color: $text-color;
}

#btn-todo {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

input[type=checkbox]:checked + label {
	text-decoration: line-through;
	color: $gray-3;
}

.todo-list-item:hover, a.todo-list-item:focus {
	text-decoration: none;
}

.todo-list-item .trash .fa:hover {
	color: #ef4040;
}

.todo-list-footer {
	margin: -20px;
	margin-top: 2rem;
	.btn {
		border-radius: .3rem;
	}
}

/*Font Awesome List*/

ul.font-awesome-list {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		border: 1px solid $gray-2;
		float: left;
		width: 20%;
		height: auto;
		text-align: center;
		i {
			display: block;
			font-size: 32px;
			margin: 20px auto;
		}
		
		span.icon-name, .glyphicon-class {
			color: $primary-color;
			font-size: .8rem;
			white-space: nowrap;
			font-weight: bold;
		}
		
		span.icon-value {
			display: block;
			color: $gray-4;
			font-size: .7rem;
			margin-bottom: 15px;
		}
	}
}

@media screen and (max-width: 1180px) {
	ul.font-awesome-list li {
		width: 25%;
	}
}
	@media screen and (max-width: 1024px) {
	ul.font-awesome-list li {
		width: 33.3%;
	}
}
	@media screen and (max-width: 768px) {
	ul.font-awesome-list li {
		width: 50%;
	}
}

/*Forms*/

.form-control {
	border: 1px solid $gray-2;
	background-color: $background-color;
	box-shadow: none;
}

input.form-control {
	height: 46px;
}

.bootstrap-table input.form-control {
	height: 34px;
}

.input-group-btn .btn {
	height: 46px;
}

.form-control:disabled, .form-control[readonly] {
	background-color: $gray-1;
	color: $gray-4;
}

.form-control:focus {
	outline: 0;
	background-color: $background-color;
	color: $text-color;
}

.help-block {
	font-size: .9rem;
	color: $gray-4;
}

.custom-select, .custom-select.form-control {
	height: 46px!important;
	background-color: $background-color;
	border-color: $gray-2;
	color: $text-color;
}

/*Tables*/

.dataTables_info, .dataTables_paginate {
	margin-top: 1rem!important;
}

.page-item.active .page-link {
	color: $background-color!important;
}

.page-item .page-link {
	outline: none!important;
	color: $text-color!important;
}

.dataTables_wrapper {
	padding: 0;
}

table, td, tr, th, thead {
	border-color: $gray-2!important;
}

/*Login Page*/

.login-page {
	background: $gray-1;
	.login-panel {
		.btn {
			display: block;
			width: 100%;
		}
	}
}

/*Error Page*/

.error-page {
	background: $gray-1;
	h1 {
		font-size: 4rem;
	}
}
